<% messages.each do |message| %>
  <% if message.role == "user" %>
    <div class="message b-only right" data-controller="auto-scroll">
      <p><%= raw(render_markdown(message.content)) %></p>
    </div>
  <% else %>
    <div class="message b-only left">
      <p><%= raw(render_markdown(message.content)) %></p>
    </div>
  <% end %>
<% end %>
