.message-form {
  width: 100%;


  form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
  }

  textarea {
    resize: none;
    overflow-y: hidden;
  }
}

.message-form-content {
  flex: 1;
  min-width: 0;
}

.message-form .message-form-content .form-control {
  width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.message-form-file {
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin-left: 8px;
}

.message-form-file .mb-3 {
  margin-bottom: 0 !important;
}



.message-form-file input[type="file"]::file-selector-button {
  color: #fff;
  background: #0D6EFD;
  border: 1px solid #6c757d;
  border-radius: .375rem;
  padding: .375rem .75rem;
  cursor: pointer;
}

.message-form-file input[type="file"]:hover::file-selector-button {
  background-color: #0b5ed7 !important;
  border-color: #0a58ca !important;
}


.send-btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  background-image: image-url("send.png");
  margin-bottom: 4px;
}
