<%= turbo_stream.replace "chatboxs-container" do %>
  <div id="chatboxs-container" class="chatboxs-container">
    <% @chats.each do |chat| %>
      <%= render "chat_row", chat: chat, user_application: @user_application %>
    <% end %>
  </div>
<% end %>
