<div class="bgg-img d-flex justify-content-center align-items-center">
  <% if user_signed_in? %>
    <div><%= link_to "See Your Applications!", user_applications_path(current_user), class: "btn btn-primary mx-3 btn-lg rounded-4" %></div>
  <% end %>
  <div>
    <%= link_to "Create Application!", new_user_application_path, class: "btn btn-warning mx-3 text-light btn-lg rounded-4" %>
  </div>
</div>
