.bgg-img {
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: -56px;
  background-image: image-url("fun.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px;
  padding-top: 64px;
}

.bggg-img {
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: -56px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-url("fun.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px;
  padding-top: 64px;
}
